<!-- Heading Row START -->
<div class="row landingpage-head">
  <!--<div class="col-md-8">-->
    <!--&lt;!&ndash;<img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;<img class="img-responsive img-rounded" src="/images/bla.png" alt="">&ndash;&gt;-->
    <!--<%= image_tag "bla.png", :class => "img-responsive img-rounded" %>-->
  <!--</div>-->
  <!--&lt;!&ndash; /.col-md-8 &ndash;&gt;-->
  <!--<div class="col-md-4">-->
    <!--<h1>Business Name or Tagline</h1>-->
    <!--<p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>-->
    <!--<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>-->
  <!--</div>-->
  <!--&lt;!&ndash; /.col-md-4 &ndash;&gt;-->

  <div class="container">
    <div class="jumbotron transparent">
      <h1><span>Westerhub</span></h1><br>
        <h3><span>Got a great idea, but need a team?</span></h3>
        <h3><span>Or eager to join said team?</span></h3>
        <h3><span>Westerhub got your back!</span></h3>
    </div>
  </div>

</div>

<hr>
<!-- Heading Row END-->


<div class="container">

  <!--Slogan element START-->
  <div class="row">
    <div class="col-lg-12">
      <div class="well text-center">
        <% if notice %> <div class="alert alert-info"><%= notice %></div> <% end %>
        <% if alert %> <div class="alert alert-warning"><%= alert %></div> <% end %>
        This is a great spot for a business tagline or phone number for easy access!
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!--Slogan element END-->













  <!--3 columns element START-->
  <div class="row">
    <div class="col-md-4">
      <h2>Projects</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
      <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>Collaborators</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
      <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>Companies</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
      <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!--3 columns element END-->


  <!--FEEDBACKS START-->
  <!--first feedback-->
  <hr class="section-heading-spacer">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
          <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "1.png", :class => "featurette-image img-circle img-responsive pull-right" %>
          <!--<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/250x250" alt="">-->
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
  <!--first feedback END-->
  <hr class="section-heading-spacer">
  <!--second feedback START-->
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

          <div class="clearfix"></div>
          <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
          <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "2.png", :class => "featurette-image img-circle img-responsive pull-left" %>
          <!--<img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/250x250" alt="">-->
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!--second feedback END-->
  <!--<hr class="section-heading-spacer">-->
  <!--third feedback START-->
  <hr class="section-heading-spacer">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
          <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "3.png", :class => "featurette-image img-circle img-responsive pull-right" %>
          <!--<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/250x250" alt="">-->
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
  <!--third feedback END-->
  <hr class="section-heading-spacer">
</div>


<!--FOOTER START-->
<div class="footer">
  <section style="height:80px;"></section>
  <div class="row" style="text-align:center;">
  </div>
  <!----------- Footer ------------>
  <footer class="footer-bs">
    <div class="row">
      <div class="col-md-3 footer-brand animated fadeInLeft" id="footerTopPadding">
        <h2>128px Logo would be nice</h2>
        <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
        <p>More text here. its nice to separate them into p-tags if we want the extra space</p>
      </div>
      <div class="col-md-4 footer-nav animated fadeInUp" id="footerTopPadding" style="text-align:center;">
        <%= image_tag "github-128.png" %>
        <h4>Our github accounts</h4>
        <div class="col-md-12">
          <ul class="pages">
            <li><a href="https://github.com/JoakimEJ">Joakim E Jacobsen</a></li>
            <li><a href="https://github.com/NikitaZhevnitskiy">Nikita Zhevnitskiy</a></li>
            <li><a href="https://github.com/dem92">Eva Maria Dahlø</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 footer-ns animated fadeInRight">
        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDJKzkT7QF6dSogCjjvdyzCGBm5_zGmcGQ&center=59.9160,10.7597&zoom=18&maptype=satellite"></iframe>
      </div>
    </div>
  </footer>
</div>