<!-- Heading Row START -->
<div class="row landingpage-head">


  <div class="container">
    <div class="jumbotron transparent">
      <h1><span>Westerhub</span></h1><br>
        <h3><span>Got a great idea, but need a team?</span></h3>
        <h3><span>Or eager to join said team?</span></h3>
        <h3><span>Westerhub got your back!</span></h3>
    </div>
  </div>

</div>

<hr>
<!-- Heading Row END-->


<div class="container">

  <!--Slogan element START-->
  <div class="row">
    <div class="col-lg-12">
      <div class="well text-center">
        <% if notice %> <div class="alert alert-info"><%= notice %></div> <% end %>
        <% if alert %> <div class="alert alert-warning"><%= alert %></div> <% end %>
        This is a great spot for a business tagline or phone number for easy access!
      </div>
    </div>
  </div>
  <!--Slogan element END-->


  <!--3 columns element START-->
  <div class="row">
    <div class="col-md-4">
      <h2>Projects</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
      <%= link_to 'Projects', projects_path, :class => "btn btn-default" %>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>Collaborators</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
      <%= link_to 'Collaborators', users_path, :class => "btn btn-default" %>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>Companies</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
      <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!--3 columns element END-->


  <!--FEEDBACKS START-->
  <!--first feedback-->
  <hr class="section-heading-spacer">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Joakim E Jacobsen<br></h2>
          <h3>Authentication, Comments, Collaborators</h3>
          <blockquote class="blockquote">
            <p class="mb-0">"In addition to focusing on authentication through the Devise gem and validating user input on login/sign in, I was also responsible for implementing the landingpage and footer."</p>
            <footer class="blockquote-footer">Joakim E Jacobsen, <cite title="Source Title">Westerdals Oslo ACT</cite></footer>
          </blockquote>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "3.png", :class => "featurette-image img-circle img-responsive pull-right" %>
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
  <!--first feedback END-->
  <hr class="section-heading-spacer">
  <!--second feedback START-->
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

          <div class="clearfix"></div>
          <h2 class="section-heading">Eva Dahloe</h2>
          <h3>AJAX, Design, Validation</h3>
          <blockquote class="blockquote">
            <p class="mb-0">"Responsibilities included working with AJAX, and designing the pages for projects.
              Also implemented features for sorting and searching, uploading images, and worked with validation of the project and comment models."</p>
              <footer class="blockquote-footer">Eva Dahloe, <cite title="Source Title">Westerdals Oslo ACT</cite></footer>
            </blockquote>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag "2.png", :class => "featurette-image img-circle img-responsive pull-left" %>
          <!--<img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/250x250" alt="">-->
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
  <!--second feedback END-->
  <!--third feedback START-->
  <hr class="section-heading-spacer">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <div class="clearfix"></div>
          <h2 class="section-heading">Nikita Zhevnitskiy<br></h2>
          <h3>Testing, Docker, Travis, Heroku</h3>
          <blockquote class="blockquote">
            <p class="mb-0">"Main responsibility was testing: unit, integration, controllers and test coverage reports.
              Additional responsibilities were continuous integration, configuration of docker images, travis and deployment to heroku."</p>
            <footer class="blockquote-footer">Nikita Zhevnitskiy, <cite title="Source Title">Westerdals Oslo ACT</cite></footer>
          </blockquote>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag "1.png", :class => "featurette-image img-circle img-responsive pull-right" %>
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
  <!--third feedback END-->
  <hr class="section-heading-spacer">
</div>