<div class="container-fluid">
  <div class="row content">

    <!--LEFT SIDEBAR start-->
    <div class="col-sm-2 sidenav global-left-bar">

      <fieldset class="row search-field">
        <legend>Sort by department</legend>
        <%= search_form_for @q do |f| %>

            <div class="field">
              <%= f.collection_check_boxes :tags_id_in_any, Tag.all, :id, :name do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
              <% end %>
              <br>
            </div>

            <div class="actions"><%= f.submit "Search" %></div>
        <% end %>
      </fieldset>

    </div>
    <!--LEFT SIDEBAR end-->

    <!--CONTENT START -->

    <!--VERSION 1 START-->
    <div class="col-sm-8">
      <% @users.each do |user| %>
          <div class="row">
            <% if user.image?%>
                <div class="col-sm-9 text-left">
            <% else %>
                <div class="col-sm-12 text-left">
            <% end %>
            <h2><%= user.username %></h2>
            <p><%= truncate(user.about, length: 200, separator: ' ') %></p>
            <% user.tags.each do |tag| %>
                <p class="department" id="department<%= tag.cssName %>"><%= tag.name %></p>
            <% end %>
            <br>
            <%= link_to 'Show', user, class:"btn btn-primary" %>
            </div>
            <% if user.image?%>
                <div class="col-sm-3 project-row-img">
                  <%= image_tag user.image.thumb.url, :class => "global-img-round-edges" %>
                </div>
            <% end %>
            </div>
            <hr>
      <% end %>

      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      </div>
      <!--VERSION 1 END-->

      <!--RIGHT SIDEBAR start-->
      <div class="col-sm-2 sidenav global-right-bar">

        <div class="well">
          <p>ADS</p>
        </div>

        <div class="well">
          <p>ADS</p>
        </div>

        <div class="well">
          <p>ADS</p>
        </div>
      </div>
      <!--RIGHT SIDEBAR end-->

    </div>
  </div>
</div>
