<%= form_for(project) do |f| %>

    <% if project.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h4>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>


      <div class="form-group" id="project-form">
        <%= f.label :title %>
        <%= f.text_field :title, class:"form-control"%>

        <%= f.label :description %>
        <%= f.text_area :description,size:"2x10",:class=>'form-control' %>

        <%= f.label :contact %>
        <%= f.text_field :contact, class:"form-control"%>

        <div class="field">
          <%= f.label "Department" %><br />
          <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
              <div class="collection-check-box">
                <%= b.check_box %>
                <%= b.label %>
              </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :cover %>
          <%= f.file_field :cover %>
        </div>

        <div id="btn-sbmt-new-proj" class="row-of-elements">
          <%= f.submit 'Save', :class => 'btn btn-primary' %>
        </div>

        <div class="row-of-elements">
          <%= link_to 'Back', request.referer, :class => 'btn btn-primary' %>
        </div>

      </div>

    <!--</div>-->

<% end %>



