<div class="container-fluid">
  <div class="row content">

    <!--LEFT SIDEBAR start-->
    <div class="col-sm-2 sidenav" id="projects-sidenav">
      <div id="create-project">
        <legend>Create project</legend>
        <%= link_to 'New project', new_project_path, class:"btn btn-primary" %>
      </div>

      <fieldset class="search-field">
        <legend>Sort by department</legend>
        <%= search_form_for @q do |f| %>

            <div class="field">
              <%= f.collection_check_boxes :tags_id_in_any, Tag.all, :id, :name do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
              <% end %>
              <br>
            </div>

            <div class="actions"><%= f.submit "Search" %></div>
        <% end %>
      </fieldset>

    </div>
    <!--LEFT SIDEBAR end-->

<!--CONTENT START -->

    <!--VERSION 1 START-->
    <div class="col-sm-8 text-left">
      <% @projects.each do |project| %>
          <h2><%= project.title %></h2>
          <p><%= limit_description(project) %></p>
          <% project.tags.each do |tag| %>
              <p class="department" id="department<%= tag.id %>"><%= tag.name %></p>
          <% end %>
          <br>
          <%= link_to 'Show', project, class:"btn btn-primary" %>
          <hr>
      <% end %>

      <%= will_paginate @projects, renderer: BootstrapPagination::Rails %>
    </div>
    <!--VERSION 1 END-->







    <!--RIGHT SIDEBAR start-->
    <div class="col-sm-2 sidenav">

      <div class="well">
        <p>ADS</p>
      </div>

      <div class="well">
        <p>ADS</p>
      </div>

      <div class="well">
        <p>ADS</p>
      </div>
    </div>
    <!--RIGHT SIDEBAR end-->


  </div>
</div>
