<div class="container-fluid">
  <div class="row content">

    <!--LEFT SIDEBAR start-->
    <div class="col-sm-2 global-left-bar">
      <div class="row" id="create-project">
        <legend>Create project</legend>
        <%= link_to 'New project', new_project_path, class:"btn btn-primary" %>
      </div>

      <fieldset class="row search-field">
        <legend>Sort by department</legend>
        <%= search_form_for @q, :remote => true do |f| %>

            <div class="field">
              <%= f.collection_check_boxes :tags_id_in_any, Tag.all, :id, :name do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
              <% end %>
              <br>
            </div>

            <div class="field">
              <%= f.label :title_cont, "Title contains:" %>
              <br>
              <%= f.text_field :title_cont, id: 'search-projects-field' %>
            </div>

            <br>

            <div class="actions"><%= f.submit "Search" %></div>
        <% end %>
      </fieldset>

    </div>
    <!--LEFT SIDEBAR end-->

    <!--CONTENT START -->
    <div class="col-sm-8">

      <div id="projects_form">
        <%= render partial: 'projects/index_projects'%>
      </div>

    <!-- CONTENT END -->

    <!--RIGHT SIDEBAR start-->
      <div class="col-sm-2 global-right-bar">

        <div class="well">
          <p>ADS</p>
        </div>

        <div class="well">
          <p>ADS</p>
        </div>

        <div class="well">
          <p>ADS</p>
        </div>
      </div>
      <!--RIGHT SIDEBAR end-->

    </div>
  </div>
</div>
