<!-- VERSION 3 -->
<!--http://bootsnipp.com/snippets/MRgWB-->

<!-- Side container -->

<div class="container">
    <div class="col-sm-2" id="creator-profile">
      <p>-Creator's profile summary goes here-</p>

    </div>
    <div class="col-sm-8">

      <!-- conatiner end -->

      <!-- Project -->
      <div id="project-container">
        <div class="panel-heading project-heading">
          <div class="row">
            <p class="row-of-elements">Published: <%= @project.created_at.to_date %></p>
            <% if user_signed_in? && @project.user_id == current_user.id %>
              <div id="editing-buttons" class="row-of-elements">
                <div class="row-of-elements">
                  <%= link_to 'Edit', edit_project_path(@project),  class:"btn btn-primary"%>
                </div>
                <div class="row-of-elements">
                  <%= link_to 'Delete', @project, class:"btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% end %>
            <%= image_tag @project.cover.url if @project.cover? %>
            <h2><%= @project.title %></h2>
          </div>
        </div>
        <div class="project-info">
          <h4>Summary</h4>
          <%= @project.description %>
        </div>
        <div class="project-info" id="contact">
          <h4>Contact information</h4>
          <%= @project.contact %>
        </div>
        <div class="project-info" id="contact">
          <h4>Departments</h4>
          <% @project.tags.each do |tag| %>
              <p class="department" id="department<%= tag.id %>"><%= tag.name %></p>
          <% end %>
        </div>
      </div>
    </div>
    <!-- Project end -->

    <!--RIGHT SIDEBAR start-->
    <div class="col-sm-2 sidenav">

      <div class="well">
        <p>ADS</p>
      </div>

      <div class="well">
        <p>ADS</p>
      </div>

      <div class="well">
        <p>ADS</p>
      </div>
    </div>
    <!--RIGHT SIDEBAR end-->
</div>
