<!-- VERSION 3 -->
<!--http://bootsnipp.com/snippets/MRgWB-->



<div class="container">
  <div class="row">

    <!-- Side container -->
    <div class="col-sm-2 global-left-bar">
      <% user = User.find(@project.user_id) %>
      <% image = user.image.thumb.url %>
      <div class="row" >
        <% if !image.nil? %>
          <%= link_to image_tag image, :class => 'global-img-round-edges' %>
        <% end %>
      </div>
      <div class="row">
        <h4>Name: </h4>
        <p id="project-user-name"><%= user.first_name %> <%= user.last_name %></p>
      </div>
      <div class="row">
        <h4>Introduction:</h4>
        <p><%= user.about %></p>
      </div>
    </div>

    <!-- Project -->
    <div class="col-sm-8" id="project-container">

      <!-- Heading -->
      <div class="row" id="project-heading">
        <div class="col-sm-9">
          <p class="row-of-elements">Published: <%= @project.created_at.to_date %></p>
          <% if user_signed_in? && @project.user_id == current_user.id %>
              <div id="editing-buttons" class="row-of-elements">
                <%= link_to 'Edit', edit_project_path(@project),  class: 'btn btn-primary row-of-elements'%>
                <%= link_to 'Delete', @project, class: 'btn btn-primary row-of-elements', method: :delete, data: {confirm: 'Are you sure?' } %>
              </div>
          <% end %>

          <h2><%= @project.title %></h2>
          <% @project.tags.each do |tag| %>
              <p class="department" id="department<%= tag.cssName %>"><%= tag.name %></p>
          <% end %>
        </div>

        <!-- Show picture if present -->
        <div class="col-sm-3">
          <% if @project.cover? %>

              <div data-toggle="modal" data-target="#modal">
                <%= image_tag @project.cover.thumb.url, :class => 'global-img-round-edges' %>
              </div>

              <div id="modal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">

                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <%= image_tag @project.cover.url %>
                    </div>
                  </div>

                </div>
              </div>
          <% end %>
        </div>
      </div>
      <!-- Heading end -->

      <div class="row project-info">
        <h4>Summary</h4>
        <%= @project.description %>
      </div>

      <div class="row project-info" id="contact">
        <h4>Contact information</h4>
        <%= @project.contact %>
      </div>
    </div>
    <!-- Project end -->

    <!--RIGHT SIDEBAR start-->
    <div class="col-sm-2 global-right-bar">

      <div class="well">
        <p>ADS</p>
      </div>

      <div class="well">
        <p>ADS</p>
      </div>

      <div class="well">
        <p>ADS</p>
      </div>
    </div>
    <!--RIGHT SIDEBAR end-->

  </div>
</div>
