<!DOCTYPE html>
<html>
  <head>
    <title>Westerhub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- This is for Devise manual setup -->
  <!-- Ensure you have flash messages in app/views/layouts/application.html.erb. For example: -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <!--Render nav bar -->
  <%= render partial: "shared/navbar" %>

    <%= yield %>
  </body>
</html>
